
.profile-container {
	padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
	background-color: #4744443d;
  }
  
  .profile-info {
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	width: 30%;
  }
  .profile-title {
	font-size: 2em;
	margin-bottom: 10px;
	margin-top: 30px;
	color: #8f2d20;
  }
  .profile-info p{
	margin-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
    gap: 1em;
  }
  
  .profile-booksSection {
	margin-top: 20px;
	width: 70%;
	display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
	gap:20px;
  }
  .profile-booksSection h2 {
	color:#8f2d20;
  }
  .profile-books {
  display: flex;
    flex-wrap: wrap;
    gap: 10px;
	justify-content: center;
  }
 